@charset "UTF-8";
@media screen and (min-width: 320px) {
    html {
        font-size: 88.88889px;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 100px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 104.16667px;
    }
}

@media screen and (min-width: 384px) {
    html {
        font-size: 106.66667px;
    }
}

@media screen and (min-width: 411px) {
    html {
        font-size: 114.16667px;
    }
}

@media screen and (min-width: 412px) {
    html {
        font-size: 114.44444px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 115px;
    }
}

@media screen and (min-width: 435px) {
    html {
        font-size: 120.83333px;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 166.66667px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 213.33333px;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 222.22222px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 355.55556px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 444.44444px;
    }
}

html,body{
    width: 100%;
    height:100%;
    overflow: hidden;
}
body, h1, h2, h3, h4, h5, h6, p, span, img {
    margin: 0;
    padding: 0;
}

.content img, .content span, .content p {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    font-size: 14px;
    color: #adadad;
    font-family: '微软雅黑', 'Arial', sans-serif;
}

ul, li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
}
.mr10{
    margin-right: 10px;
}
.mb5{
    margin-bottom: 5px;
}
.clear{
    *zoom:1;
}
.clear:after{
    display:block;
    content:'';
    clear:both;
}
.statistic-show-container{
    width: 100%;
    height: 100%;
}
.section{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
}
.zIndex{
    z-index: 6666;
}
.nav {
    position: relative;
    top: 0;
    z-index: 9999;
    width: 100%;
    text-align: center;
    line-height: 0.48rem;
    color: white;
    background: #222222;
    font-size: 0.18rem;
    font-weight: 500;
}

.pictrue {
    z-index: 1;
    position: relative;
    border-bottom: 0.01rem solid #dcdcdc;
    /*height:70%;*/
    /*height: 3.6rem;*/
    overflow: hidden;
    background: #FFF;
}
.zpg-hot-area{
    height: 3.6rem!important;
}
.pictrue span.yuantu {
    font-size: 0.13rem;
    position: absolute;
    margin: auto;
    right: 0.15rem;
    top: 0.1rem;
    height: 0.22rem;
    line-height: 0.22rem;
    z-index: 99;
    color: #0E5D83;
    border-radius: 20rem;
    border: 1px solid #89B1C3;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}

.pictrue .img {
    width: 100%;
    height: 3.6rem;
    position: relative;
    overflow: hidden;
}
.img-360{
    width: .4rem;
    height: .24rem;
    background: url(../img/360.png)no-repeat 100% 100%;
    background-size: .4rem .24rem;
    margin: .04rem 0 0 .04rem;
}

.pictrue .img img.expend {
    transform: scale(1.5);
}

.content {
    margin-bottom: 0.44rem;
    font-weight: 500;
    color: #4E4E4E;
    width: 100%;
    height: 1.86rem;
    background: #F7F7F7;
    position: relative;
    overflow: hidden;
}

.content img {
    top: -1rem;
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
}

.content span {
    display: block;
    height: 0.16rem;
    font-size: 0.16rem;
    top: 0.1rem;
    width: 2.8rem;
    overflow: hidden;
    text-align: center;
    line-height: 0.16rem;
    text-overflow: ellipsis;
}

.content p {
    width: 3.36rem;
    height: 0.7rem;
    top: 1.2rem;
    display: block;
    font-size: 0.16rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.down {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 0.44rem;
    background: #FFFFFF;
    line-height: 0.44rem;
    font-size: 0.14rem;
    border-top:1px solid #eaeaea;
}

.down a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}

.img_desc1,.img_desc2{
    display: none;
    width: 100%;
    /*min-height: 0.44rem;*/
    text-align: center;
    font-size: 0.15rem;
    /*line-height: 0.34rem;*/
    color: #FFFFFF;
    /*background-color: #666666;*/
    background: #F6BA29;
}

.goods_buy {
    width: 100%;
    height: auto;
    /*border-bottom: 1px solid #eaeaea;*/
    margin-top: 5%;
}

.goods_name {
    height: auto;
    margin: .1rem;
    font-size: 0.18rem;
    color: #111111;
    text-align: center;
    font-weight: bold;
}

.goods_buy_info {
    width: 100%;
    position: relative;
}

.goods_buy_left{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
}

.goods_buy_right{
    width: 1rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: .1rem;
    text-align: right;
}

.goods_buy_left_1{
    width: 100%;
    height: 50%;
    color: red;
    font-size: 0.16rem;
    font-weight: 600;
}

.goods_buy_left_2{
    width: 100%;
    height: 50%;
    font-size: 0.10rem;
    line-height: .22rem;
}

.goods_buy_btn {
    height:.384rem;
    color: #FFFFFF;
    background-color: #d92c35;
    border-radius:.05rem;
    font-size: .15rem;
    width: .912rem;
    border: none;
}
.goods_desc {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-size: 0.15rem;
    border-top:1px solid #eaeaea;
}

.goods_desc .title {
    font-size: 0.2rem;
    padding: .1rem;
    border-bottom: 1px solid #eaeaea;
}
.goods_item_desc{
    padding: .1rem;
}
.user_headimg {
    width: .44rem;
    height: 100%;
    float: left;
    text-align: center;
}

.user_name {
    width: 1.2rem;
    height: 100%;
    float: left;
    color: #000000;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item_like {
    max-width: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    padding-left: .2rem;
    position: absolute;
    top: 0;
    right: .88rem;
    color: #111111;
    box-sizing: border-box;
}
.item_like.yes {
    background: url("../img/like.png")no-repeat 0 50%;
    background-size: .14rem .14rem;

}
.item_like.no {
    background: url("../img/no-like.png")no-repeat 0 50%;
    background-size: .14rem .14rem;
}
.item_favorite{
    width: .44rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: .44rem;
}
.item_favorite.yes{
    background: url("../img/favorite.png")no-repeat 50% 50%;
    background-size: .14rem .14rem;
}
.item_favorite.no{
    background: url("../img/no-favorite.png")no-repeat 50% 50%;
    background-size: .14rem .14rem;
}
.item_share{
    width: .44rem;
    height: .36rem;
    border-left: 1px solid #eaeaea;
    background: url("../img/share.png")no-repeat 50% 50%;
    background-size: .19rem .19rem;
    position: absolute;
    top: 0.04rem;
    right: 0;
}
.img_header {
    height: 80%;
    width: auto;
    border-radius:40px;
    vertical-align:middle;
}

.img_like{
    height: 60%;
    width: auto;
    vertical-align:middle;
}

.img_favorite {
    height: 60%;
    width: auto;
    vertical-align:middle;
}

.img_share {
    height: 60%;
    width: auto;
    /*border-radius:40px;*/
    vertical-align:middle;
}
.statistics-commodity-detail{
    width: 98%;
    margin: .3rem auto 0;
    /*border: 1px solid #E7E7E7;*/
    color:#000;
}
.statistics-commodity-detail-table{
    width: 98%;
    margin:0 auto;
    background: url(../img/product_table.png);
    background-size:100% 100%;
    height:80%;
    margin-top: 8%;
}
.product2{
    display: none;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.slideImgDiv{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
}
.slideImgDiv img{
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

.product-detail-param{
    width:100%;
    background:#98989A;
    text-align: center;
}
.spec-product-bg{
    background: #F5AF07;
}
.product-detail-tr{
    border-bottom: 1px solid #FFF;
}
.product-tit{
    background:#FFAA19;
}
.product-detail-table{
    color:#FFF;
    border-collapse: collapse;
}
.statistics-commodity-detail th{
    padding: .06rem 0;
}
.statistics-commodity-detail tr{
    border-bottom: 1px solid #FFF;
}
.statistics-commodity-detail td{
    text-align: center;
    padding: .02rem 0;
}
.s-commodity-tit{
    font-weight: bold;
    font-size: .16rem;
}
.s-commodity-desc{
    font-size: .14rem;
}

.swx-music{
    position:fixed;
    right:10px;
    top:10px;
    z-index:9999;
    width:.25rem;
    height:.25rem;
}
.swx-music{
     -webkit-animation: play 5s linear infinite;
     -moz-animation: play 5s linear infinite;
     animation: play 5s linear infinite;
 }
@-webkit-keyframes play{
    0%{-webkit-transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@-moz-keyframes play {
    0%{-moz-transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes play{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.music-pause{
    animation-play-state: paused
}
.statistics-goods-buy{
    width: 100%;
    /*padding:10px 0;*/
    font-size:18px;
    color:#FFF;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #E3E3E3;
}
.shop-chart-icon{
    width: 41px;
    height: 35px;
    vertical-align: middle;
}
.buy-pic-icon{
    width: 20%;
    float: left;
    background: #FFF;
}
.add-shop-cart{
    width: 40%;
    background: #FC9708;
    float: left;
}
.now-buy-txt{
    width: 40%;
    background: #F33300;
    float: left;
}
.swx-next-page-box{
    text-align: center;
}
.next-page-icon{
    width: .36rem;
    height: auto;
}
.animated-infinite{
    animation: nextpage 5s infinite;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes nextpage
{
    from {bottom:0;opacity:1;}
    to {bottom:5%;opacity:0;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    from {bottom:0;opacity:1;}
    to {bottom:5%;opacity:0;}
}
.swx-barrage{
    position:absolute;
    right:10px;
    top:.5rem;
    z-index:99999;
    width:.25rem;
    height:.25rem;
}
.swx-barrage-open{
    position:absolute;
    right:10px;
    top:.5rem;
    z-index:9999;
    width:.25rem;
    height:.25rem;
}
.swx-hot-spots{
    position:absolute;
    right:10px;
    top:.9rem;
    z-index:9999;
    width:.25rem;
    height:.25rem;
}
.full-cover-pic{

}
.swx-hot-area{
    position: relative;
    width: 100%;
}
.full-view-pic-box{

}
.active-hot-pics{
    width: 100%;
    height:auto;
}


.fullview-pic-desc{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    min-height: 0.44rem;
    text-align: center;
    font-size: 0.15rem;
    line-height: 0.34rem;
    color: #FFFFFF;
    background-color: #666666;
    padding: .05rem .1rem;
}
.first-see-pics-desc{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    /*min-height: 0.44rem;*/
    text-align: center;
    font-size: 0.15rem;
    /*line-height: 0.34rem;*/
    /*color: #FFFFFF;*/
    /*background-color: #666666;*/
    color:#000;
    background: #F6BA29;;
    z-index: 9999;
    font-weight: bold;
    padding:0.1rem 0;
    line-height: .22rem;
}
.zpg-barrage-container{
    width: 100%;
    position:absolute;
    left:5%;
    top: 2%;
    color:#000;
    z-index:1000;
}
.zpg-barrage-content{
    text-align: center;
    font-size: .14rem;
}
/*-------重设滑屏---------*/
